[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# TODO(forozco): inject version of conjure-client
conjure-python-client = "==1.1.2"

[dev-packages]
setuptools = "*"
tox = "*"
rope = "*"
pylint = "*"
wheel = "*"
pyyaml = "*"
black = "==18.3a1"
pycodestyle = "==2.4.0"
pytest = "==3.2.5"
mock = "==2.0.0"
