[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
conjure-python-client = "==2.8.0"

[dev-packages]
black = "*"
mypy = "*"
pycodestyle = "*"
pylint = "*"
pytest = "*"
pytest-html = "*"
pytest-pylint = "*"
pyyaml = "*"
rope = "*"
setuptools = "*"
tox = "*"
types-PyYAML = "*"
types-requests = "*"
wheel = "*"

[requires]
python_version = "3.8"
