[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
conjure-python-client = "==2.0.0"

[dev-packages]
setuptools = "*"
tox = "*"
rope = "*"
pylint = "*"
wheel = "*"
pyyaml = "*"
black = "*"
pycodestyle = "*"
pytest = "*"
